@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --heding1:#07374a;
  --heding2:#25b79f;
  --textColor:#f0f0e6;
  --primary:#25b79f;
  --secondary:#07374a;
  --transDur: 0.3s;
}

 
body {
  font-family: "Poppins", sans-serif;
  transition: color var(--transDur);
}

.dark-mode {
  --heding1:#a647ff;
  --heding2:#a647ff;
  --textColor: #f0f0e6;
  --primary: #333333;
  --secondary: #0a0a0a;
}

.theme-switch {
  display: flex;
  align-items: center;
  margin: 20px;
  gap: 1rem;
  color: var(--textColor);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  background-color: var(--heding1);
}

.slider.round:before {
  border-radius: 50%;
  background-color: var(--heding2);
}

.top{
  position: fixed;
  bottom:1rem; 
  right: 2rem;
  z-index: 100;
  display: none;
}

header {
  background-color: var(--primary);
  height: 100vh;
}

.container {
  margin: auto;
}

/* ////........Navbar.......//// */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
}

.menu-items li {
  list-style: none;
  padding: 1rem;
}

.menu-items a {
  text-decoration: none;
  color: var(--textColor);
  font-size: 1.2rem;
  padding: 0.3rem;
}

.menu-items a:hover {
  border-bottom: 2px solid var(--textColor);
}

.navbar .logo {
  order: 1;
  color: var(--textColor);
  font-size: 2rem;
}

/* ////........Home Content........//// */

.home-content .name {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--heding1);
  width: 100%;
  text-align: center;
}

.home-content .name h1 {
  font-size: 2.2rem;
  text-align: center;
}

.home-content .name p {
  color: var(--textColor);
  font-size: 1.5rem;
}

.angle-down-icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  border: 3px solid var(--heding1);
  border-radius: 50%;
}

.angle-down-icon a {
  text-decoration: none;
  color: var(--heding1);
  padding: 1rem;
}

/* ////........About Me........//// */

.about-me {
  background-color: var(--secondary);
  padding: 6rem 0;
}

.about-me .about-heading {
  color: var(--heding2);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.about-content img {
  height: 200px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.about-content p {
  font-size: 1.2rem;
  color: var(--textColor);
  padding: 0 2.3rem;
  text-align: center;
}

.skills .skills-heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--heding2);
  text-align: center;
}

.about-me .about-content {
  display: flex;
  flex-wrap: wrap;
}

.about-content .left-content {
  flex-basis: 45%;
  text-align: center;
}

.about-content .right-content {
  flex-basis: 45%;
}

/* ///.....Skill Bar....../// */

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: var(--textColor);
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: var(--heding2);
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 90%;
}
.progress-line .css {
  width: 90%;
}
.progress-line .bootstrap {
  width: 80%;
}
.progress-line .javascript {
  width: 70%;
}
.progress-line .react {
  width: 90%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: var(--heding2);
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "90%";
}
.progress-line .css::after {
  content: "90%";
}
.progress-line .bootstrap::after {
  content: "80%";
}
.progress-line .javascript::after {
  content: "70%";
}
.progress-line .react::after {
  content: "90%";
}

.navbar.solid {
  background-color: var(--secondary);
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px rgb(7 55 74 / 20%);
  z-index: 500;
}

.navbar.solid .navbar-brand {
  display: inline-block;
  color: var(--textColor);
  transition: color 1s ease 0s;
  margin-left: 1rem;
}

.navbar-brand {
  display: none;
  color: var(--textColor);
  font-weight: 400;
  margin-left: 1rem;
}

.work-arrow {
  margin: 2rem 0;
}

.work-arrow a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--heding2);
}

.work-arrow-2 {
  margin: 2rem 0;
}

.work-arrow-2 a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary);
  display: none;
}

/* ////.....Portfolio......///// */

.portfolio {
  background: var(--primary);
  padding: 6rem 0;
}

.proj-heading h1{
  text-align: center;
  color: var(--heding1);
  font-size: 2.3rem;
  font-weight: 700;
  margin: 3rem 0;
  
}

.proj-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-1 img{
  height: 330px;
  width: 380px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-1 .proj1-details{
  width: 32rem;
}

.proj-1 .proj1-details i{
  font-size: 1.5rem;
  color: var(--heding1);
}

.proj-1 .proj1-details h2{
  font-size: 2rem;
  color: var(--heding1);
}

.proj-1 .proj1-details p{
  font-size: 1.3rem;
  color: var(--heding1);
  font-weight: 600;
}

.proj-1 .proj1-details button{
  background: var(--textColor);
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid var(--heding1);
}

.proj-1 .proj1-details button a{
  text-decoration: none; 
  color: var(--heding1);
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-1 .proj1-details button .fas{
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-1 .proj1-details button:hover {
  background: var(--heding1);
}
  
.proj-1 .proj1-details button:hover a,
.proj-1 .proj1-details button:hover .fas {
  color: var(--textColor);
}

/* ////.....proj2.....//// */

.proj-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.proj-2 img{
  height: 330px;
  width: 380px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
}

.proj-2 .proj2-details{
  width: 32rem;
}

.proj-2 .proj2-details i{
  font-size: 1.5rem;
  color: var(--heding1);
}

.proj-2 .proj2-details h2{
  font-size: 2rem;
  color: var(--heding1);
}

.proj-2 .proj2-details p{
  font-size: 1.3rem;
  color: var(--heding1);
  font-weight: 600;
}

.proj-2 .proj2-details button{
  background: var(--textColor);
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid var(--heding1);
}

.proj-2 .proj2-details button a{
  text-decoration: none; 
  color: var(--heding1);
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-2 .proj2-details button .fas{
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-2 .proj2-details button:hover {
  background: var(--heding1);
}
  
.proj-2 .proj2-details button:hover a,
.proj-2 .proj2-details button:hover .fas {
  color: var(--textColor);
}

.more-work {
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.more-work p {
  font-size: 1.6rem;
  color: var(--heding1);
  font-weight: 500;
}

.more-work a {
  text-decoration: none;
  color: var(--textColor);
  font-size: 1.3rem;
}

.more-work a:hover {
  border-bottom: 2px solid var(--textColor);
}

/* ////......Contact......///// */

.contact {
  background: var(--secondary);
  position: relative;
  height: 92vh;
}

.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--heding2);
  padding-bottom: 0.5rem;
}

.contact-content .mail {
  color: var(--textColor);
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

.contact-content .links {
  color: var(--heding2);
  padding: 0.5rem;
  padding-bottom: 1.8rem;
  font-size: 1rem;
}

.contact-content a {
  text-decoration: none;
  color: var(--heding2);
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

.contact-content a:hover{
  color: var(--textColor);
}

/* ////......Media query......//// */

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

  .proj-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-1 img {
    height: 230px;
    width: 290px;
    margin-bottom: 0.5rem;
  }
  
  .proj-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 250px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary);
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

  .proj-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-1 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }
  
  .proj-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary);
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 70%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-arrow {
    display: none;
  }

  .left-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .right-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary);
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .header {
    height: 90vmax;
  }
}